*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# node.js
#
node_modules/

app/build/
app/build/tmp/
app/build/tmp/kapt3/
app/build/tmp/kotlin-classes/
